In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dow.csv')

In [3]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-12-23,28491.779297,28582.490234,28491.779297,28551.529297,28551.529297,223530000
1,2019-12-24,28572.570313,28576.800781,28503.210938,28515.449219,28515.449219,86150000
2,2019-12-26,28539.460938,28624.099609,28535.150391,28621.390625,28621.390625,155970000
3,2019-12-27,28675.339844,28701.660156,28608.980469,28645.259766,28645.259766,182280000
4,2019-12-30,28654.759766,28664.689453,28428.980469,28462.140625,28462.140625,181600000

In [4]:
df2 = pd.read_csv('BTC-USD.csv')

In [5]:
df2.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-12-21,7220.593750,7223.226074,7112.735840,7191.158691,7191.158691,19312552168
1,2019-12-22,7191.188477,7518.033203,7167.179199,7511.588867,7511.588867,23134537956
2,2019-12-23,7508.902344,7656.176270,7326.192383,7355.628418,7355.628418,27831788041
3,2019-12-24,7354.393066,7535.716797,7269.528809,7322.532227,7322.532227,22991622105
4,2019-12-25,7325.755859,7357.020020,7220.991211,7275.155762,7275.155762,21559505148